{% extends "network/layout.html" %}

{% block body %}
{%if form %}
    <div style="padding: 2vh 0;">
        <form id="newPostForm">
            {% csrf_token %}
            <input type="text" name="messageOfUser" placeholder="Tweet it!">
            <input type="submit" value="post"></input>
        </form>
    </div>
{% else %}
<div class="alert alert-warning" role="alert" style="text-align: center;">
    Can only view posts for now, as you are not logged in
</div>
{% endif %}
{% include "network/posts.html" %}
{% include "network/pageNav.html" %}
{% endblock %}
